<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <!-- <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2"  /> -->
        <p-button severity="secondary" label="Rafraichir" icon="pi pi-refresh" outlined (onClick)="getAllClients();" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary"/>
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="clients"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    selectionMode="single" [(selection)]="selectedClient"
    (onRowSelect)="onRowSelect($event)"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        @if (loading) {
            <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" ></p-progressbar>
        }
        <div class="flex items-center justify-between">
            <h5 class="m-0">Liste des clients</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <!-- <p-tableHeaderCheckbox /> -->
                 Date
            </th>
            <!-- <th style="min-width: 16rem">Code</th> -->
            <th pSortableColumn="name" style="min-width:16rem">
                Nom et prénoms
                <p-sortIcon field="name" />
            </th>
            <th>Pays</th>
            <th pSortableColumn="price" style="min-width: 8rem">
                Date de naissance
                <p-sortIcon field="price" />
            </th>
            <th pSortableColumn="category" style="min-width:10rem">
                Téléphone
                <p-sortIcon field="category" />
            </th>
            <th pSortableColumn="rating" style="min-width: 12rem">
                Status
                <p-sortIcon field="rating" />
            </th>
            <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                Pièces d'identité
                <p-sortIcon field="inventoryStatus" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-client>
        <tr [pSelectableRow]="client">
            <td style="width: 3rem">
                <!-- <p-tableCheckbox [value]="client" /> -->
                 {{client.createdAt | date: 'dd/MM/YYYY HH:mm:ss'}}
            </td>
            <td style="min-width: 12rem">{{ client.lastname }} {{ client.firstname }}</td>
            <td style="min-width: 16rem">{{ client.country }}</td>
            <td>
                {{ client.birthdate | date : 'dd/MM/yyyy' }}
            </td>
            <td>{{ client.phoneNumber }}</td>
            <td>{{ client.status }}</td>
            <td>
                {{ client.verificationStatus }}
            </td>
            <td class="w-full flex ">
                @if (client.verificationStatus == "ACCEPTED") {
                    <p-badge value="KYC validé" badgeSize="xlarge" severity="success" />
                }@else {
                    <p-button label="Valider" icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (onClick)="selectedClient=client;validateAccount(verifcationStatus.ACCEPTED)" />
                }
                @if (client.status == 'ACTIVATED') {
                   &nbsp; <p-badge value="Profil activé" badgeSize="xlarge" severity="success" />
                }@else {
                  &nbsp;  <p-button label="Activer" icon="pi pi-check" severity="primary" [rounded]="true" [outlined]="true" (onClick)="selectedClient=client;activateAccount()"/>
                }
                <p-button [severity]="'warn'" label="Invalider" icon="pi pi-pencil" class="mr-2 ml-2" [rounded]="true" [outlined]="true" (onClick)="selectedClient=client;validateAccount(verifcationStatus.REJECTED)" />
            </td>
        </tr>
    </ng-template>
</p-table>